#create-list .hidden-input:hover {
    cursor: default;
}
#create-list .hidden-input {
    outline: none;
    border: none;
    background-color: #f0f8ff;
    color: #f0f8ff;
    height: 0;
}

#create-list form {
    text-align: center;
}

#create-list button {
    margin-top: 1rem;
}
